/* Inserta tu código aqui */
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body	{
	font-family: arial;
}

header	{
	background-color: #333333;
	padding: 20px;
	color: white;
}

header nav	{
	background-color: #333333;
	overflow: hidden;
	display: inline-block;
	float: right;
}

header nav ul{
	list-style: none;
	padding-top: 40px;
}

header nav ul li{
	padding: 10px 20px;
	display: inline;
	line-height: 50px;
}

h2	{
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
}

.logotipo	{
	display: inline;
}

.principal	{
	background-color: #EEEEEE;
	border-bottom: 1px solid #ADADAD;
	font-weight: bold;
	color: #406D9E;
}

.secundario	{
	margin-top: 50px;
}
.container {
	padding-left: 14px; 
	padding-right: 14px;
	color: #406D9E;
}

.row {
	margin-left: -14px;
	margin-right: -14px;
}

.row:before, .row:after{
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

[class*="col-"] {
	min-height: 7px;
	padding: 0 14px;
	float: left;
}

.col-3 {
	/* (3 / 12) x 100 */
	width: 25%;
} 

.text-center {
	text-align: center;
	padding-bottom: 10px;
}

.col-3 img	{
	padding: 3px;
	background-color: white;
	border: 1px solid #ADADAD;
}

.col-2 {
	/* (2 / 12) x 100 */
	width: 16.666667%;
	max-width: 13.5%;
}

.col-2 img	{
	padding: 3px;
	background-color: white;
	border: 1px solid #ADADAD;
}

.col-1 {
	/* (1 / 12) x 100 */
	width: 8.333333%;
} 

footer	{
	background-color: #333333;
	height: 200px;
	color: white;
	line-height: 10px;
	padding: 15px;
}

footer nav	{
	display: inline-block;
}

footer nav ul{
	list-style: none;
	padding-top: 40px;
}

footer nav ul li{
	padding: 10px;
	display: inline;
	line-height: 50px;

}